; BIND reverse data file for 192.168.58.XXX
$TTL    604800

@       IN      SOA     ns.{{ dns_domain }}. admin.{{ dns_domain }}. (
                              2        
                         604800         
                          86400       
                        2419200       
                         604800 )       

; Name Servers
@       IN      NS      ns.{{ dns_domain }}.

; --- Registros PTR (Pointer) ---
{% for host in dns_hosts %}
{{ host.ip.split('.')[3] }}      IN      PTR     {{ host.name }}.{{ dns_domain }}.
{% endfor %}